
body{
    padding: auto;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    
    
   
}


.container {
    
   
    height: 330px;
    width: 260px;
    background-color: beige;
   
}

#display {
    width: 250px;
    height: 40px;
    font-size: 20px;
    margin-bottom: 10px;
    border: solid 2px;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
   
}


button {
    height: 50px;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: solid 2px;
    border-radius:5px ;
}


.clear, .calculate {
    grid-column: span 2;
}

